html {background-color:aliceblue;}
p {border: 1px dotted rgb(29, 93, 213); border-radius: 5px; padding: 10px; background-color: white;}
h1{color:cornflowerblue; text-transform:uppercase;text-align:center;}
a {color: cornflowerblue;font-weight:bold;}

